<h1>Articles</h1>

<% @gossips.each do |gossip|%>
<h2><%= gossip.anonymous_author%></h2>
<p><%= gossip.content%></p>

<p>
<a href="<%= gossip_path(gossip.id) %>" class="btn btn-dark">Lire la suite</a> 
<a href="<%= edit_gossip_path(gossip.id) %>" class="btn btn-dark">Modifier le gossip</a> 

</p>


<%end%>